* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ff98e5;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.landing-page-slogan {
    font-size: 2.2rem;
    text-transform: uppercase;
    color: #f8f8f8;
    text-shadow: 3px 3px 1px #333;
    
}

.amor-dark-logo {
   width: 100%;
   height: 180px;
}

.register-link {
    display: block;
    text-align: center;
    margin: 2rem;
    text-decoration: none;
}

.register-btn {
    background-color: #0E21A0;
    color: #fff;
    display: block;
    margin: 0 auto;
    padding: 1rem 2.5rem;
    outline: none;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    transform: scale(1);
    transition: transform 500ms;
}

.register-btn:hover {
    cursor: pointer;
    transform: scale(1.06);
}

.landing-login-link {
    text-decoration: none;
    margin-top: 5rem;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    text-shadow: 2px 2px 1px #000;
}

.container {
    display: none;
}

footer {
    background-color: #0E21A0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    margin-top: auto;
}

footer p {
    font-size: 1.3rem;
    color: #f8f8f8;
    text-shadow: 3px 3px 1px #333;
}

.footer-btn {
    background-color: #fff;
    color: #0E21A0;
    padding: 1rem 3rem;
    outline: none;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    transform: scale(1);
    transition: transform 500ms;
}

.footer-btn:hover {
    cursor: pointer;
    transform: scale(1.06);
}


/* MEDIA QUERIES */
@media (min-width: 600px) {
    .amor-dark-logo {
        height: 150px;
    }

    .landing-page-slogan {
        margin-bottom: 1rem;
    }

    .register-link {
        margin-bottom: 2rem;
    }
    
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background-color: #f8f8f8;
        padding: 3.5rem .75rem;
        margin-top: 3rem;
    }

    .card {
        max-width: 250px;
        background-color: #fff;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        overflow: hidden;
        margin-left: 25px;
    }

    .card img {
        width: 100%;
        height: 280px;
        display: block;
    }

    .card-content {
        padding: 20px;
    }

    .card-content h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .card-content p {
        font-size: 1rem;
        color: #333;
    }
    
    .register-btn {
        padding: 1rem 6rem;
    }
}