{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '../../../static/css/landing-page-styles.css' %}">
    <title>Amor | Your Journey to Love Starts Here 💘</title>
</head>
<body>
    <header>
        <img class="amor-dark-logo" src="../static/assets/logo/Amor-logo-dark.svg" alt="Amor Logo">
        <h1 class="landing-page-slogan">Your Journey to Love Starts Here</h1>
    </header>
    <section class="landing-img-container">
        <img class="landing-img one" src="../static/assets/images/landing-img1.jpg" alt="">
        <img class="landing-img two" src="../static/assets/images/landing-img2.png" alt="">
        <img class="landing-img three" src="../static/assets/images/landing-img3.jpg" alt="">
        <img class="landing-img four" src="../static/assets/images/landing-img4.jpg" alt="">
    </section>
    <a href="" class="register-link"><button class="register-btn">JOIN AMOR</button></a>
    <a href="" class="landing-login-link">SIGN IN</a>
</body>
</html>